* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Epilogue", sans-serif;
  font-style: normal;
  text-decoration: none;
}

.signup {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

h6 {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 20px;
  color: #1a1a1a;
  margin-bottom: 16px;
}
h1 {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -0.04em;
  line-height: 52px;
  color: #1a1a1a;
  margin-bottom: 8px;
}
p {
  font-size: 16px;
  font-family: 300;
  color: #666666;
  line-height: 24px;
}
.title {
  padding-bottom: 36px;
}
.input {
  width: 40%;
  padding: 14px 200px 14px 12px;
  border: 0.5px solid #b3b3b3;
  border-radius: 4px;
  margin-bottom: 20px;
}
.input::placeholder {
  font-size: 14px;
  font-weight: 100;
  line-height: 14px;
  color: #b3b3b3;
}
.button1 {
  display: block;
  background: #1a1a1a;
  padding: 14px 51px;
  color: white;
  font-size: 14px;
  border-radius: 4px;
  margin-top: 24px;
  margin-bottom: 24px;
  border-color: #1a1a1a;
}
